.title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    color: #29C4FD;
}
.text {
    font-size: 20px;
    line-height: 25px;
}
.subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}
.hide {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    z-index: -99;
   opacity: 0;
}


.account {
    max-width: 1920px;
    margin: 0 auto;
    padding: 110px 15px;
}
.title_account {
    max-width: 1450px;
    margin: 0 auto;
}
.account__subtitle {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.form {
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .upload {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-bottom: 60px;
 }



 .upload__label {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 205px;
     height: 205px;
     border-radius: 50%;
     background-color: #29C4FD;
     position: relative;
     transition: 0.3s ease-in;
 }
 .upload__label:hover {
    cursor: pointer;  
    box-shadow: 0px 4px 50px rgba(41, 196, 253, 0.8);
}


 .form__row {
    width: 690px;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 20px 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

.form__row input {
    width: 75%;
    font-size: 24px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.submit{
   margin: 0;
   padding-top: 30px;
   box-shadow: none;
}
.success {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success__image {
    margin-right: 15px;
}

.button {
    display: inline-block;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    padding: 10px 40px;
    background: #29C4FD;
    border-radius: 25px;
    transition: 0.3s ease-in;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 30px rgba(41, 196, 253, 0.8);
}

.subtitle_normal {
    width: 500px;
    font-weight: normal;
}

.info__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.info__checkbox {
    display: none;
}

.info__fake {
    display: block;
    position: relative;
     width: 145px;
    height: 50px; 
    margin-right: 50px;
}
.info__fake:hover {
    cursor: pointer;
}
.info__fake::before {
    content: "";
    width: 145px;
    height: 50px;
    left: 0;
    top: 0;
    position: absolute;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    transition: 0.3s ease-in;
}
.info__fake::after {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: rgba(0, 0, 0, 0.86);
    border-radius: 50%;
    transition: 0.3s ease-in;
}

#info__email:checked + .info__fake::before {
     background-color: #29C4FD;
}
#info__email:checked + .info__fake::after {
     transform: translateX(90px);
    background-color: #FFFFFF;
}
#info__sms:checked + .info__fake::before {
     background-color: #29C4FD;
}
#info__sms:checked + .info__fake::after {
     transform: translateX(90px);
    background-color: #FFFFFF;
}