.container {
    max-width: 1450px;
    padding: 60px 25px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    color: #29C4FD;
}
.text {
    font-size: 20px;
    line-height: 25px;
}
.subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.button {
    display: inline-block;
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;   
    border-radius: 60px;
    box-shadow: 0px 4px 32px rgba(41, 196, 253, 0.5);
}

.button:hover {
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 4px 50px rgba(41, 196, 253, 0.8);
}

.button_callback {
    background-color: #29C4FD;
    color: #ffffff;
}

.hero {
    padding-top: 115px;
    padding-bottom: 115px;
    display: flex;
    justify-content: space-between;
}

.hero__left {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.hero__logo {
    margin-bottom: 65px;
}
.text_hero {
    margin: 50px 0;
}

.button_hero {
    padding: 20px 95px;
}

.hero__image {
    position: relative;
}
.hero__image::before {
    content: "";
    width: 55px;
    height: 55px;
    background-color:#29C4FD;
    border-radius: 50%;
    position: absolute;
    left: -75px;
    bottom: 210px;
}
.hero__image::after {
    content: "";
    width: 110px;
    height: 110px;
    background-color:#29C4FD;
    background-image: url("../img/hero-diagramma.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    position: absolute;
    left: -150px;
    bottom: 70px;
}
.hero__image img {
    border-radius: 50%;
}

.text_privilege {
    padding-top: 40px;
    padding-bottom: 90px;
}

.privilege__row {
    display: flex;    
    margin-left: 200px;
    
}
.privilege__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}
.subtitle_privilege {
    padding-top: 40px;
}

.works {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 100px;
}
.slider {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  
}


.slider__row {
    display: flex;

}
.slider__row:not(:last-child) {
    padding-top: 30px;
    padding-bottom: 60px;
}
.slider__image:not(:last-child) { 
    padding-right: 85px;
}
.slider__image_first {
    margin-left: -150px;
}

.works__bottom {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.button_works {
   padding: 20px 115px;
}


.services__inner {
    padding-top: 30px;
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.services__top {
    padding: 140px 0;
}
.services__row {
    display: flex;
}
.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__item:not(:last-child) {
    margin-right: 400px;
}

.services__number {
    display: inline-block;
    position: relative;
    font-size: 72px;
    line-height: 88px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: #29C4FD;
    padding: 20px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.services__number::after {
    content: "";
    position: absolute;
    left: -500px;
    top: 65px;
    width: 1920px;
    height: 6px;
    background-color: #29C4FD;
    z-index: -1;

    }

.services__number:hover {
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 0px 0px 80px #B1EAFF;
    border-radius: 50%;
    margin-bottom: 140px;

}
.button_services {
    padding: 20px 115px;
}

.about__inner   {
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
}
.about__left {
    padding-left: 200px;
}
.about__image {
    position: relative;
}
.about__image::before {
    content: "";
    width: 45px;
    height: 45px;
    background-color:#29C4FD;
    border-radius: 50%;
    position: absolute;
    left: -220px;
    bottom: 70px;
}
.about__image::after {
    content: "";
    width: 460px;
    height: 460px;
    background-color:#29C4FD;
    border-radius: 50%;
    position: absolute;
    left: -215px;
    bottom: 70px;
    z-index: -1;
}
.about__image img{
    border-radius: 50%;
    z-index: 1;
}

.about__right {
    padding-top: 70px;
    width: 510px;
}

.subtitle_about {
    font-weight: 500;
    color: #29C4FD;
    padding-bottom: 10px;
}
.about__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}
.text_about {
    padding: 60px 0;
}
.button_about {
    padding: 20px 100px;

}

.about__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__row {
    display: flex;

}
.about__row:not(:last-child) {
    padding-bottom: 60px;
}
.about__item {
    display: flex;
    align-items: center;
    padding: 50px 100px;
    box-shadow: 0px 4px 52px rgba(84, 101, 145, 0.15);
    border-radius: 88.5px;
}
.about__item:not(:last-child) {
    margin-right: 60px;
}
.about__circle {
    padding-right: 25px;
}

.contacts {
        overflow: hidden;
}
.contacts__inner {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.contacts__left {
    padding-left: 230px;
}
.text_contacts {
    padding: 60px 0;
    width: 520px;
}
.button_contacts {
    padding: 20px 50px;
}
.contacts__image{
    margin-top: 50px;
    margin-left: -260px;
}

.contacts__right {
    position: absolute;
    right: -200px;
    top: -100px;

}

.contacts__background{
    position: relative;
    border-radius: 50%;
    width: 1250px;
    height: 1100px;
    overflow: hidden;

}
.contacts__background img {
    width: 84%;
}
.title_contacts{
    position: absolute;
    bottom: 190px;
    left: 0;
    color: #ffffff;
    background-color: #29C4FD;
    padding: 60px 239px;
    white-space: nowrap;
  }